{% extends "base.html.twig" %}

{% block layout %}
<body id="page1">
		<div class="tail-top">
			<div class="tail-bottom">
				<div
					class="body-bg">
                    <!-- HEADER -->
					<div id="header">
						<div class="extra"><img src="images/header-img.jpg" alt=""/></div>
						<div class="row-1">
							<div class="fleft">
								<h1>
									<a id="first-title" href="/">{{title_first_page}}</a>
								</h1>
							</div>
							<p class="fright"><img src="" alt=""/>geneva@floridauniversitaria.es</p>
						</div>
						{% block navmenu %}
						{% endblock %}
						<div class="row-3">
							<h2>Las mejores soluciones</h2>
						</div>
					</div>
                    {% block content %}
                    {% endblock %}
					
                </div>
			</div>
		</div>
</div>
{% endblock %}